@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

/* Declaring layers in order of priority */
@layer reset, colors;

/* Reset CSS */
@layer reset{
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Schibsted Grotesk", sans-serif;
    }

    html, body{
        width: 100%;
        overflow-x: hidden;
        font-size: 15px;

        /* Temporary */
        img{
            max-height: 200px;
        }

    }
}

/* Color variables */
@layer colors{
    :root{
        --light-bg: #ffffff;
        --dark-bg: #101828;
        --dark-text: #101828;
        --light-text: #ffffff;
        --primary-color: #1a2845;
        --secondary-color: #FFFFFF;
    }
}
